<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${tProjectInfoEntity.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red;">*</span>项目名：</label>
                            <div class="col-sm-8">
                                <input id="projectName" name="projectName" readonly th:value="${tProjectInfoEntity.projectName}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目源码路径：</label>
                            <div class="col-sm-8">
                                <input id="projectSourceCodeUrl" name="projectSourceCodeUrl" th:value="${tProjectInfoEntity.projectSourceCodeUrl}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目源码名称：</label>
                            <div class="col-sm-8">
                                <input id="sourceCodeName" name="sourceCodeName" th:value="${tProjectInfoEntity.sourceCodeName}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目描述:</label>
                            <div class="col-sm-8">
                                <textarea id="projectDesc" name="projectDesc" th:value="${tProjectInfoEntity.projectDesc}" th:text="${tProjectInfoEntity.projectDesc}" class="form-control" type="text"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/static/js/project/edit.js"></script>
</body>
</html>
