<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/js/jscrollpane/jquery.jscrollpane.css" />
	<link href="/static/css/plugins/bootstrap.min.css?v=3.3.6" th:href="@{/static/css/plugins/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
	<link href="/static/css/plugins/font-awesome.css?v=4.4.0" th:href="@{/static/css/plugins/font-awesome.css?v=4.4.0}" rel="stylesheet">
	<link href="/static/css/plugins/bootstrap-table/bootstrap-table.min.css" th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
	<link href="/static/css/plugins/bootstrap-select/bootstrap-select.min.css" th:href="@{/static/css/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">

	<link href="/static/css/plugins/animate.css" th:href="@{/static/css/plugins/animate.css}" rel="stylesheet">
	<link href="/static/css/plugins/jqTreeGrid/jquery.treegrid.css" rel="stylesheet">

	<link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/plugins/simditor/simditor.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/plugins/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/plugins/bootstrap-table.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/plugins/bootstrap-table-tree.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/fonts/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />

	<!--<link rel="stylesheet" type="text/css" media="all" href="/static/css/global.css" />-->
</head>
<div th:fragment="footer">
	<script type="text/javascript" src="/static/js/plugins/jQuery/jquery.min.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap.min.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/static/js/plugins/validate/messages_zh.min.js"></script>
	<script src="/static/js/plugins/jsTree/jstree.min.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap-table-tree.js"></script>
	<script src="/static/js/plugins/bootstrap/bootstrap-table-zh-CN.min.js"></script>
	<script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
	<script src="/static/js/plugins/layer/layer.js"></script>
	<script src="/static/js/content.js?v=1.0.0"></script>
	<!--summernote-->
	<script src="/static/js/plugins/summernote/summernote.js"></script>
	<script src="/static/js/plugins/summernote/summernote-zh-CN.min.js"></script>
</div>
