<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X_UA-Compatible" content="IE=edge,chrome=1" />
	<title>快捷部署 - 首页</title>
	<link rel="stylesheet" type="text/css" href="/static/js/jscrollpane/jquery.jscrollpane.css" />
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="/static/js/jquery.debouncedresize.js"></script>
	<script type="text/javascript" src="/static/js/jquery.throttledresize.js"></script>
	<script type="text/javascript" src="/static/js/jscrollpane/jquery.jscrollpane.js"></script>
	<script type="text/javascript" src="/static/js/jscrollpane/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>

	<link rel="stylesheet" type="text/css" media="all" href="/static/css/global.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/index.css" />
</head>

<body>
	<!--透明蒙板-->
	<div class="add_tree_cover"></div>

	<!--头部 start-->
	<div id="header">
		<a href="" class="left logo" target="_blank"></a>
		<a href="javascript:;" class="right logout"></a>
		<span class="topborder right"></span>
		<a href="javascript:;" class="right help"><em class="left"></em>帮助</a>
		<span class="topborder right"></span>
		<a href="javascript:;" class="right welcome"><em class="left"></em>Admin</a>
	</div>
	<!--头部 end-->

	<div id="main">
		<!--身部 start-->
		<div class="bodyer" id="bodyer">
			<div class="leftNavBox">
				<h5>快捷部署</h5>
				<h4></h4>
				<div class="leftNav" id="leftNavMenu">
					<a href="javascript:;" class="bg_nav clearfix relative selt" data-value="indexPage">
						<em class="icon_1 left"></em>
						<span class="menuText left">首页</span>
						<span class="btn_nav right hide"></span>
						<div class="bar"></div>
					</a>
					<a href="javascript:;" class="bg_nav clearfix relative">
						<em class="icon_2 left"></em>
						<span class="menuText left">配置管理</span>
						<span class="btn_nav right"></span>
						<div class="bar"></div>
					</a>
					<div class="twoLevelNav pos_2" style="display: none;">
						<div href="javascript:;" class="clearfix relative" data-value="validateRules">
							<em class="left"></em>
							<span class="left hideText">业务配置</span>
						</div>
						<div href="javascript:;" class="clearfix relative" data-value="vocabularyManage">
							<em class="left"></em>
							<span class="left hideText">运维配置</span>
						</div>
					</div>
					<a href="javascript:;" class="bg_nav clearfix relative" data-value="dataAcquisitionManage">
						<em class="icon_3 left"></em>
						<span class="menuText left">质检数据采集</span>
						<span class="btn_nav right hide"></span>
						<div class="bar"></div>
					</a>
					<a href="javascript:;" class="bg_nav clearfix relative" data-value="dataQualityVerifManage">
						<em class="icon_4 left"></em>
						<span class="menuText left">数据质量核验</span>
						<span class="btn_nav right hide"></span>
						<div class="bar"></div>
					</a>
					<a href="javascript:;" class="bg_nav clearfix relative"  data-value="reportManage">
						<em class="icon_5 left"></em>
						<span class="menuText left">报告管理</span>
						<span class="btn_nav right"></span>
						<div class="bar"></div>
					</a>
					<div class="twoLevelNav pos_2" style="display: none;">
						<div href="javascript:;" class="clearfix relative" data-value="fullStatistics">
							<em class="left"></em>
							<span class="left hideText">全量统计报告</span>
						</div>
						<div href="javascript:;" class="clearfix relative" data-value="optimizeTraceTaskManage">
							<em class="left"></em>
							<span class="left hideText">采样数据报告</span>
						</div>
						<div href="javascript:;" class="clearfix relative" data-value="followAnalysis">
							<em class="left"></em>
							<span class="left hideText">综合分析报告</span>
						</div>
					</div>
					<a href="javascript:;" class="bg_nav clearfix relative"  data-value="alarmManage">
						<em class="icon_6 left"></em>
						<span class="menuText left">告警管理</span>
						<span class="btn_nav right hide"></span>
						<div class="bar"></div>
					</a>
					<a href="javascript:;" class="bg_nav clearfix relative">
						<em class="icon_7 left"></em>
						<span class="menuText left">质量优化跟踪</span>
						<span class="btn_nav right"></span>
						<div class="bar"></div>
					</a>
					<div class="twoLevelNav pos_2" style="display: none;">
						<div href="javascript:;" class="clearfix relative" data-value="optimizeTraceConfig">
							<em class="left"></em>
							<span class="left hideText">优化跟踪配置</span>
						</div>
						<div href="javascript:;" class="clearfix relative" data-value="optimizeTraceTaskManage">
							<em class="left"></em>
							<span class="left hideText">优化跟踪任务</span>
						</div>
						<div href="javascript:;" class="clearfix relative" data-value="followAnalysis">
							<em class="left"></em>
							<span class="left hideText">优化跟踪分析</span>
						</div>
					</div>
					<a href="javascript:;" class="bg_nav clearfix relative">
						<em class="icon_8 left"></em>
						<span class="menuText left">质量知识库管理</span>
						<span class="btn_nav right"></span>
						<div class="bar"></div>
					</a>
					<div class="twoLevelNav pos_2" style="display: none;">
						<div href="javascript:;" class="clearfix relative" data-value="policyKnowledgeBaseManage">
							<em class="left"></em>
							<span class="left hideText">策略知识库</span>
						</div>
						<div href="javascript:;" class="clearfix relative" data-value="KnowledgeBaseContentManage">
							<em class="left"></em>
							<span class="left hideText">质量知识库内容</span>
						</div>
					</div>
				</div>
				<!-- 展开收起按钮-->
				<div class="menuBottom">
					<span class="slideBtn"></span>
				</div>
				<!-- 展开收起按钮-->
			</div>
			<div class="rightManager" id="rightManager" style="height:810px;">

			</div>
		</div>
	</div>
</body>
</html>
