<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X_UA-Compatible" content="IE=edge,chrome=1" />
	<title>快捷部署 - 首页</title>
	<link rel="stylesheet" type="text/css" href="/static/js/jscrollpane/jquery.jscrollpane.css" />
	<script type="text/javascript" src="/static/js/plugins/jQuery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/plugins/jQuery/jquery.placeholder.js"></script>
	<script type="text/javascript" src="/static/js/plugins/jQuery/jquery.debouncedresize.js"></script>
	<script type="text/javascript" src="/static/js/plugins/jQuery/jquery.throttledresize.js"></script>
	<script type="text/javascript" src="/static/js/jscrollpane/jquery.jscrollpane.js"></script>
	<script type="text/javascript" src="/static/js/jscrollpane/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/plugins/jQuery/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="/static/js/global.js"></script>
	<script type="text/javascript" src="/static/js/Index/index.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/global.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/index.css" />
	<link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
	<!--透明蒙板-->
	<div class="add_tree_cover"></div>

	<!--头部 start-->
	<div id="header">
		<a href="" class="left logo" target="_blank"></a>
		<a href="javascript:;" class="right logout"></a>
		<span class="topborder right"></span>
		<a href="javascript:;" class="right help"><em class="left"></em>帮助</a>
		<span class="topborder right"></span>
		<a href="javascript:;" class="right welcome"><em class="left"></em>Admin</a>
	</div>
	<!--头部 end-->

	<div id="main">
		<!--身部 start-->
		<div class="bodyer" id="bodyer">
			<div class="leftNavBox">
				<h5>快捷部署</h5>
				<h4></h4>
				<div class="leftNav" id="leftNavMenu">
					<!-- 首页不进行控制 -->
					<a href="javascript:;" class="bg_nav clearfix selt" data-value="main">
						<em class="icon left"></em>
						<span class="menuText left">首页</span>
						<span class="btn_nav right hide"></span>
						<div class="bar"></div>
					</a>
					<a th:each="menu : ${menuTreeList}" class="bg_nav clearfix relative" th:data-value="${menu.url}">
						<em class="icon left"></em>
						<span class="menuText left" th:text="${menu.name}"></span>
						<span class="btn_nav right hide"></span>
						<div class="bar"></div>
						<!-- 下级菜单 -->
						<div th:if="${menu.childMenu.size() > 0}"  class="twoLevelNav pos_2" style="display: none;">
							<div th:each="childmenu : ${menu.childMenu}"  href="javascript:;" class="clearfix relative" th:data-value="${childmenu.url}">
								<em class="left"></em>
								<span class="left hideText" th:text="${childmenu.name}"></span>
							</div>
						</div>
					</a>
				</div>
				<!-- 展开收起按钮-->
				<div class="menuBottom">
					<span class="slideBtn"></span>
				</div>
				<!-- 展开收起按钮-->
			</div>
			<div class="rightManager" id="rightManager" style="height:810px;">
				<iframe class="J_iframe" name="iframe0" width="100%" height="100%"
						th:src="@{/main}" frameborder="0" data-id="index.html"
						seamless></iframe>
				<input hidden value="" id="parames" type="text"/>
			</div>
		</div>
	</div>
</body>
</html>
