<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.dao.SysUserDao">
    <!-- 主键查询用户信息 -->
    <select id="findById" resultType="com.pan.entity.SysUserEntity" parameterType="com.pan.entity.SysUserEntity">
        select * from sys_user where id = #{id};
    </select>
    <!-- 查询所有用户信息 -->
    <select id="findALL" resultType="com.pan.entity.SysUserEntity">
        select * from sys_user
    </select>
    <!-- 查询所有用户信息 -->
    <select id="countAll" resultType="com.pan.entity.SysUserEntity">
        select count(1) from sys_user
    </select>
    <!-- 根加条件查询用户信息 -->
    <select id="findByParames" resultType="com.pan.entity.SysUserEntity" parameterType="java.util.Map">
        select * from sys_user
        where  1 = 1
        <if test="username != null and username != ''">and username like comcat('%', #{username}, '%')</if>
        <if test="status != null and status != ''">and status = #{status}</if>
        <if test="startTime != null and endTime != null">and create_time between #{startTime} and #{endTime}</if>
        <if test="limit != null and offset != null">LIMIT #{offset} , #{limit}</if>
    </select>
    <!-- 根加条件查询用户信息 -->
    <select id="countByParames" resultType="com.pan.entity.SysUserEntity" parameterType="java.util.Map">
        select count(1) from sys_user
        where  1 = 1
        <if test="username != null and username != ''">and username like comcat('%', #{username}, '%')</if>
        <if test="status != null and status != ''">and status = #{status}</if>
        <if test="startTime != null and endTime != null">and create_time between #{startTime} and #{endTime}</if>
    </select>
    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.pan.entity.SysUserEntity" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(username, password, salt, status, create_user_id, create_time) values(#{username},#{password},#{salt},#{status},#{createUserId},#{createTime})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.pan.entity.SysUserEntity">
        update sys_user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="salt != null">salt = #{salt},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createTime != null">create_time = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from sys_user where id = #{id};
    </delete>
    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="java.util.List">
        delete from sys_user where 1 = 1
        <if test="ids != null and ids.size() > 0">
            and id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>

    <!-- 主键查询用户信息 -->
    <select id="selectAccount" resultType="com.pan.entity.SysUserEntity" parameterType="java.lang.String">
        select * from sys_user where username = #{userName};
    </select>
</mapper>