<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pan.dao.TProjectInfoDao">

    <!-- 根据id查询服务器信息 -->
    <select id="findById" resultType="com.pan.entity.TProjectInfoEntity" parameterType="java.lang.Long">
        select * from  t_project_info where id = ${id};
    </select>
    <!-- 查询所有的服务器信息 -->
    <select id="findALL" resultType="com.pan.entity.TProjectInfoEntity">
        select * from t_project_info
    </select>
    <!-- 查询所有的服务器信息数量 -->
    <select id="countAll" resultType="java.lang.Integer">
        select count(1) from t_project_info
    </select>

    <!-- 通过菜单条件查询服务器信息集合 -->
    <select id="findByParames" resultType="com.pan.entity.TProjectInfoEntity" parameterType="java.util.Map">
        select * from t_project_info
        where 1 = 1
        <if test="ids != null and ids.size() > 0">
            and id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="projectName != null and projectName != ''">
            and project_name like CONCAT('%', #{projectName}, '%')
        </if>
        <!--<if test="limit != null and offset != null">-->
            <!--LIMIT #{offset}, #{limit}-->
        <!--</if>-->
    </select>

    <!-- 通过菜单条件查询服务器信息数量 -->
    <select id="countByParames" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from t_project_info
        where 1 = 1
        <if test="ids != null and ids.size() > 0">
            and id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="projectName != null and projectName != ''">
            and project_name like CONCAT('%', #{projectName}, '%')
        </if>
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.pan.entity.TProjectInfoEntity" useGeneratedKeys="true" keyProperty="id">
        insert into t_project_info(project_name, project_source_code_url, source_code_name, project_desc, create_user_id, create_time) values (#{projectName}, #{projectSourceCodeUrl}, #{sourceCodeName}, #{projectDesc}, #{createUserId}, #{createTime});
    </insert>
    <!-- 修改信息 -->
    <update id="update" parameterType="com.pan.entity.TProjectInfoEntity">
        update t_project_info
        <set>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="projectSourceCodeUrl != null">project_source_code_url = #{projectSourceCodeUrl},</if>
            <if test="sourceCodeName != null">source_code_name = #{sourceCodeName},</if>
            <if test="projectDesc != null">project_desc = #{projectDesc},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createTime != null">create_time = #{createTime}</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_project_info where id = #{id};
    </delete>
    <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="java.util.List">
        delete from t_project_info where 1 = 1
        <if test="ids != null and ids.size() > 0">
            and id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>
</mapper>